* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #232323;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-stripes {
  position: fixed;
  bottom: 0;
  left: 50%; 
  width: 100vw; 
  height: auto; 
  aspect-ratio: 16 / 9; 
  max-height: 100vh; 
  transform: translateX(-50%); 
  z-index: 1;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.background-stripes-top {
  position: fixed;
  left: 50%;
  width: 9.4%; 
  height: calc(100vh - 56.25vw); /* 16:9 aspect ratio correction */
  transform: translateX(-50%);
  z-index: 0;
}

.logo {
  position: absolute;
  top: 13vh; 
  left: 5vw; 
  width: 8vw; 
  height: auto;
  cursor: pointer; 
  transition: opacity 0.3s ease-in-out; 
  z-index: 2;
}

.logo:hover {
  opacity: 0.5;
  cursor: pointer; 
}

.logo-spin {
  animation: logoSpin 1s ease-in-out forwards;
}

@keyframes logoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#grain-container {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: auto; 
  pointer-events: none; 
  z-index: 1;
}

.grain {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: flicker 0.5s infinite alternate;
  pointer-events: none; 
}

@keyframes flicker {
  0% {
      opacity: 0.9;
  }
  100% {
      opacity: 1;
  }
}

#firstname, #lastname {
  position: absolute;
  color: white;
  font-family: "lulo-outline", sans-serif;
  font-weight: 700;
  font-size: 5vw;
  white-space: nowrap; 
}

#firstname {
  left: 22%;
  top: 13%;
}

#lastname {
  right: 13%;
  top: 13%;
}

#videos {
  position: absolute;
  top: 75%;
  left: 20%;
  rotate: -28deg;
  color: white;
  font-family: "lulo-one", sans-serif;
  font-weight: 700;
  font-size: 4vw;
  transform: matrix(1.2, 0, 0.6, 0.8, 0, 0) skewX(-10deg);
  z-index: 2;
  text-decoration: none;
}

#about {
  position: absolute;
  top: 75%;
  right: 21%;
  rotate: 30deg;
  color: white;
  font-family: "lulo-one", sans-serif;
  font-weight: 700;
  font-size: 4vw;
  transform: matrix(1.2, 0, -0.6, 0.8, 0, 0) skewX(10deg);
  z-index: 2;
  text-decoration: none;
}

#videos, #about {
  cursor: pointer; 
  opacity: 0.6; 
  transition: color 0.3s ease-in-out; 
}

#videos:hover, #about:hover {
  color: black;
}

.striped-top {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw; 
  height: clamp(20vh, 2.5 * 8vw, 47vh); 
  transform: translateX(-50%); 
  z-index: 0;
}

.menu-container {
  position: fixed; 
  top: 3vh;
  right: 2.5vw;
  z-index: 1000; 
}

.menu {
  position: relative;
  background: black;
  color: white;
  padding: 0.8vh 1.5vw;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2vw;
}

.menu-items {
  position: absolute; 
  display: none;
  background: black;
  top: 80%; 
  left: 0; 
  padding: 1vh 1.5vw;
  border-radius: 5px;
  font-size: 1.2vw;
  white-space: nowrap; 
}

.menu-items a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1vh 0;
  font-family: "Stevie Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
}

.menu-items a:hover {
  background-color: #F79420;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu.open + .menu-items {
  display: block;
}

#videos-top, #about-top {
  position: absolute;
  top: 15%; 
  left: 17%; 
  color: white;
  font-family: "lulo-one", sans-serif;
  font-weight: 700;
  font-size: 4vw;
  z-index: 3;
}

#videos-container {
  position: absolute;
  left: 5vw;
  top: 55vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.video-item {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
}

#videos-container img {
  width: 45vw;
  height: 25vw;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease-in-out; 
}

#videos-container img:hover {
  opacity: 0.5; 
}

.video-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-text {
  font-size: 1.7vw;
  color: white;
  font-family: "lulo-one", sans-serif;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 0.5vw; 
}

.video-text:hover {
  color: black;
  cursor: pointer;
}

.read-more-btn {
  font-family: "Stevie Sans", sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5vw 1vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #F79420; 
}

.extra-text {
  display: none;
  font-family: "Stevie Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  color: white;
  max-width: 80%;
  margin-top: 0.5vw;
}

#videos-container a {
  text-decoration: none;
}

a.video-link {
  display: flex;
}

.container {
  width: 45vw; 
  margin-left: auto; 
  margin-right: 5vw; 
  font-family: "Stevie Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: left; 
  position: absolute;
  top: 22vh;
  right: 0;
  padding: 0 1.5vw; 
}

.container p {
  display: none; 
  margin-bottom: 1.5vh; 
  text-align: left; 
  word-wrap: break-word; 
}

.container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
}

p {
  font-size: 1.2vw;
  margin-bottom: 1.5vw;
  text-align: justify;
}

.button-container {
  position: absolute;
  top: 55%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.intro-button {
  padding: 0.8em 1.5em; 
  font-size: 1.5vw; 
  background-color: black; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro-button:hover {
  background-color: #F79420; 
}

.intro-button.active {
  background-color: #F79420; 
}

.intro-button.inactive {
  background-color: black; 
}

.intro-button.inactive:hover {
  background-color: #F79420; 
}

.ae-br, .ae-door, .blend-br, .blend-pp {
  width: 100%; 
  height: auto;
  flex-shrink: 0;
  transition: transform 1s ease-in-out;
  position: absolute; 
  left: 0;
  opacity: 0; 
}

.ae-br.active, .ae-door.active, .blend-br.active, .blend-pp.active {
  opacity: 1; 
}

.showcase {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.custom-link {
  color: #F79420;
  text-decoration: none;
}

.iphone {
  position: absolute;
  right: 12%; 
  width: 100%; 
  height: auto;
}

.dar {
  display: none; 
  white-space: nowrap; 
}

.pc, .dar {
  font-size: 1.5vw;  
  font-weight: bold; 
  padding: 1.2vh;
}


iframe {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: none; 
}

iframe.active {
  display: block; 
}

#nextArrow {
  position: absolute;
  right: 0;
  padding: 0.5em 1.5em; 
  font-size: 1.5vw; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black; 
  color: white; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  text-align: center;
}

#nextArrow:hover {
  background-color: #F79420; 
}

.circle {
  display: inline-block;
  width: 1vw; 
  height: 1vw;
  border-radius: 50%;
  border: 0.2vw solid white; 
  margin: 1vh 0.5vw; 
  transition: background 0.3s;
  position: relative;
  left: 47%;
}

.circle.active {
  background: white;
}

.mail, .vimeo-logo {
  filter: invert(1);
  width: 4vw;
  height: auto;
  vertical-align: middle;
  margin-right: 2vw;
  transition: filter 0.2s ease-in-out;
}

.mail:hover, .vimeo-logo:hover {
  filter: invert(0.3);
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
}

.email, .vimeo {
  font-size: 1.2vw;
  color: white;
  display: inline;
  margin-left: 1vw;
}

.email:hover, .vimeo:hover { 
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    overflow-y: auto;
  }

  #firstname, #lastname {
    font-size: 6vw;
  }

  #firstname {
    left: 20%;
  }

  #lastname {
    right: 9%;
  }
  
  .logo {
    top: 12%;
    width: 12vw;
  }
  
  .menu-container {
    top: 1vh;
    right: 4vw;
  }
  
  .menu {
    font-size: 3vw;
    padding: 1vh 2vw;
  }
  
  .menu-items {
    font-size: 2vw;
  }
  
  .menu-items a {
    font-size: 2vw;
    padding: 1.2vh 1vw;
  }
  
  #videos-top, #about-top {
    top: 12%;
    left: 20%;
    font-size: 6vw;
  }
  
  #videos-container {
    left: 3vw;
    top: 25vh;
    gap: 4vh;
  }
  
  .video-item {
    flex-direction: column;
    gap: 2vh;
  }
  
  #videos-container img {
    width: 90vw;
    height: 50vw;
  }
  
  .video-text {
    font-size: 4vw;
    margin-bottom: 1vw;
  }
  
  .read-more-btn {
    font-size: 3vw;
    padding: 2vw 3vw;
  }
  
  .extra-text {
    font-size: 3vw;
    max-width: 90%;
    padding-top: 1vh;
    padding-bottom: 3vh;
  } 

  .button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vw; 
    left: auto;
    top: 22vh;
  }

  .intro-button {
    font-size: 2.8vw;
    padding: 0.8em 0; 
    width: 40%; 
    text-align: center;
    flex: 0 0 auto; 
    margin: 0.5vh 1vw; 
    white-space: nowrap; 
  }

  .container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
    right: 5vw; 
    left: 5vw;   
    top: 50%;  
  }

  .container p {
    font-size: 3vw;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 5vh;
  }

  .ae-br, .ae-door, .blend-br, .blend-pp {
    padding-bottom: 5vh;
  }

  .showcase {
    margin: 1vh auto;
    text-align: center;
    padding-bottom: 5vh;
  }

  .iphone {
    width: 80%;
    left: 0%;
    margin: 1vh auto;
    padding-bottom: 5vh;
  }

  iframe {
    padding-bottom: 5vh;
  }

  .pc, .dar {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0.5vh; 
  }

  .circle {
    width: 3vw;
    height: 3vw;
    left: 0;
  }

  .email, .vimeo {
    font-size: 3vw;
  }

  .mail, .vimeo-logo {
    width: 8vw;
  }
}
